
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size:62.5%;
	color: #DED1A5;
}
a{
	color:#411700;
	text-decoration:none;
}
/*For fixing floating children in a parent element: */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}
a img{
	border:none;
}
h1{
	font-size:1em;
	color: #DED1A5;
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 23px solid transparent;
	border-bottom: 24px solid transparent;
	border-left: 16px solid #411700;
	float: left;
	position: absolute;
	top: 0;
	right: 10px;
}

/***********************/
/*@ HEADER */
#header{
	height: 56px;
	background: #DED1A5;
	font-size:1.4em;
	position:fixed;
	width: 100%;
	z-index: 10;
}
#header img{
	vertical-align: middle;
	width:280px;
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
	padding-left:7px;
}
.helper{
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.lang{
	float:right;
	position: relative;
	right: 15px;
	top: 18px;
}

/***********************/
/*@ MAIN */
#wrapper{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width:100%;
	padding: 65px 7px 7px;
	font-size:1.5em;
}
#sidebar{
	/*width:190px;*/
	float:left;
	position: fixed;
	z-index: 10;
}
#sidebar ul{
	width:216px;
}
#sidebar li{
	margin-bottom:6px;
	position:relative;
}
#sidebar a{
	background:#f4eedb;
	padding:15px 0px;
	/*width:100%;*/
	width:190px;
	text-align:center;
	display:block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#sidebar a:hover,
#sidebar a.active{
	background: #411700;
	color:#DED1A5;
}
.menu_body{
	float:right;
	width:790px;
}


/***********************/
/*@ GRID VIEW */

.grid_thumb{
	float:left;
	position:relative;
	width:254px;
	height:174px;
}
.grid_thumb > div{
	position: relative;
	z-index:2;
	background: #411700;
	background: rgba(65, 23, 0, 0.7);
	height:50px;
	font-size:1.2em;
}
#gridview h1{
	float:left;
	font-weight:400;
	max-width:165px;
	padding-left:8px;
	vertical-align: middle;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 23px;
}
#gridview h1.tworow{
	height:44px;
}

.grid_thumb img{
	position:absolute;
	top:0;
	z-index:1;
}
.price{
	color:#fff;
	float:right;
	font-size:1.4em;
	font-weight:600;
	padding-right:5px;
	vertical-align: middle;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 0;
	height: 29px;
}
sup{
	font-size: 0.65em;
	position: relative;
	bottom: 6px;
}