<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.ecdgraphics.yidong"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Chef Tony</name>
	<icon src="images/icon.png" />
	<icon src="images/icon.png" platform="ios"/>
	<platform name="ios">
  		<icon src="images/icon.png"/>
  		<icon src="images/icon-72.png" width="72" height="72" />
  		<icon src="images/icon-72@2x.png" width="144" height="144" />
  		<icon src="images/icon_76.png" width="76" height="76" />
  		<icon src="images/icon-76@2x.png" width="152" height="152" />
	</platform>
    <description>
        Application for Chef Tony Menu.
    </description>

    <author href="https://build.phonegap.com" email="clee@ecdgraphics.ca">
        ECD Graphics Inc.
    </author>
	
	<gap:platform name="ios" />
	
	<!-- Define app splash screen for platform. -->
	<gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="748" />
	

</widget>
